body{
    background:#f5f7fa;
}

.card{
    border:none;
    border-radius:15px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 10px 20px rgba(0,0,0,.15);
}

.card h3{
    color:#198754;
    font-weight:bold;
}

.card p{
    color:#555;
    margin:15px 0;
}

.btn{
    border-radius:10px;
}

h1{
    font-size:40px;
}

@media(max-width:768px){
    h1{
        font-size:30px;
    }
}